
<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      News
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">News</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-card *ngFor="let articles of data?.articles" (click)="onGoToNewsSinglePage(articles)">
<ion-img [src]="articles.urlToImage"></ion-img>
<ion-card-content>

  <ion-card-title>{{articles.title}}</ion-card-title>

<p>{{articles.description}}</p>
</ion-card-content>
  </ion-card>


</ion-content>
